{{- define "main" }}

<header class="page-header">
  {{- partial "breadcrumbs.html" . }}
  <h1>{{ .Title }}</h1>
  {{- if .Description }}
  <div class="post-description">{{ .Description | markdownify }}</div>
  {{- end }}
</header>

{{- if .Content }}
<div class="post-content md-content">
  {{- if not (.Param "disableAnchoredHeadings") }}
  {{- partial "anchored_headings.html" .Content -}}
  {{- else }}{{ .Content }}{{ end }}
</div>
{{- end }}

{{- if eq .RelPermalink "/teaching/" }}
<nav aria-label="Teaching sections">
  <ul>
    {{- range .Sections.ByTitle }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{- end }}
  </ul>
</nav>
{{- else }}
{{- range .RegularPages.ByTitle }}
<article class="post-entry">
  <header class="entry-header">
    <h2 class="entry-hint-parent">{{ .Title }}</h2>
  </header>
  <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .RelPermalink }}"></a>
</article>
{{- end }}
{{- end }}

{{- end }}
